@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="jumbotron">
            <h2>
                SOFTWARE DEVELOPMENT
                ASSESSMENT
               
            </h2>
            <p> By EasyGames (PTY) LTD</p>
        </div>

        <p>• I've created an application that will display the Clients on a dropdown list or grid.</p>
        <p>
            • When selecting a client display all the Transactions for that client, The user should be able
            to edit the comment field for the transaction displayed.
        </p>
        <p>
            • When selecting a client display all the Transactions for that client, The user should be able
            to edit the comment field for the transaction displayed.
        </p>
        <p>
            • The application will allow the user to add a transaction for client this transaction
            must be saved to the Transaction table of the database.
        </p>
        <p>
            • Ensure a client’s balance updates dynamically when a debit or credit transaction is made.
        </p>
    </div>

</body>
</html>



